.mybooks {
  margin-top: 13px;
  background-color: whitesmoke;
  position: absolute;
  width: calc(100vh - 500px);
  padding: 15px;
  transition: all 0.3;
  overflow-x: hidden;
}

.icon2 label > span {
  display: block;
  width: 25px;
  height: 10px;
  border-top: 2px solid rgb(0, 0, 0);
}

.icon2 {
  z-index: 20;
  display: fixed;
  padding-right: 30px;
  font-size: 35px;
  transition: all 0s ease-in;
  overflow-x: hidden;
}
.absolute {
  display: absolute;
  text-align: center;
  padding-top: 100px;
}
