.footer {
   
    padding: 20px 0px 20px 24px;
    background: #222;
    color: aliceblue;
    justify-content: space-between;
    box-shadow: 0 0 7px 5px #222222;
    height: 100%;
    border-collapse: collapse;
   
    
  }

.copyright{
    font-size:large;
}