.header {
    padding: 20px 0px 20px 24px;
    background: #222;
    color: aliceblue;
    display: flex;
  }
ul{
    list-style-type: none;
    display: flex;
}
li {
    font-size: 16px;
  }
  
li:before {
    content: '';
    background-color: #000;
    padding: 0px 1px;
    margin: 0 8px;
    display: inline-block;
    height: 16px;
    vertical-align: middle;
  }