.header {
    padding: 20px 0px 20px 24px;
    background: #222;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 7px 5px #222
  }
  .ulheader{
    list-style-type: none;
    display: flex;
    padding-right: 20px;
    height:100%;
    margin:10px;
  }
.liheader {
    font-size: 20px;

    
  }
  
 .liheader::before {
    content: '';
    padding: 0px 30px ;
    margin: 10px;
    display: inline-block;
    height: 16px;
    vertical-align: middle;
  }
.link{
   text-decoration: none;
    color: inherit;
    border: solid;
    padding: 2px;
    padding-left: 19px;
    padding-right: 19px;

}
.link:hover
{
color: #5E4AE3;  
}
.icon{
  display:none
}

@media only screen and (max-width: 600px) {
  .links{
    z-index: 2;
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgb(41, 40, 40);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 60px;
    left: 0px;
    
    padding-left: 1px;
    margin-left: 0;
    margin-top: 10px;
  }
 
  .liheader::before{
    padding: 15px 0px ;
  }
  label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
 
  .icon{
    display:block;
    padding-right: 30px;
    font-size: 35px;
  }
  

  
}