.center {
  text-align: center;
  color: #7f2ccb;
  padding-bottom: 10px;
}
.container {
  margin-top: 50px;
}
body {
  background-color: #f7dad9;
}
.principal {
  padding-top: 12px;
  color: #7f2ccb;
}
.principal p {
  font-size: 20px;
}
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .title {
    text-align: center;
  }
}
